body{
    margin: 0;
    padding: 0;
}

.site-content {
    background-image: url(../img/image.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.site-title{
    margin-top: 20%;
    margin-bottom: 2%;
}

.site-desc{
    margin-bottom: 10%;
    margin-left: 1%;
}

.kup, .sprzedaj{
    margin-bottom: 30%;
    margin-left: 10%;
}

.heading-2{
    margin-bottom: 5%;
}

.para-1{
    margin-bottom: 4%;
}

.section-2 .btn{
    width: 40%;
    padding: 5px 10px;
    margin-bottom: 20%;
}

.section-2 .d-flex{
    margin-top: 8%;
    margin-left: 3%;
}

.section-2 .container-fluid{
    background-image: url(../img/img1.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: whitesmoke;
}

.section-3 .d-flex{
    margin: 5px;
}

.linia2{
    margin-bottom: 20%;
}

.section-4 